{% extends "base.html" %}
{% block content %}
<style>
    .avatar {
        background: rgba(255, 255, 255, 90%);
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        padding: 10px;
    }
    .description {
        font-size: 1.5em;
        width: 750px;
        margin: 0 auto;
        display:block;
    }
</style>
<br>
<h3 style="text-align: center">Hi, this is my bio :D</h3>
<br>
<table align="center" style="text-align: center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<br>

{% load static %}
<img class="avatar" src="{% static "lab_2_addon/profile.png" %}" alt="me" width="150" height="150">
<br>
<div class="description">
    <p>
        <strong>
            I'm a computer science student, and I love cats.
           <br> 
            Yes, sage is my real name.
            <br>
            No, it has nothing to do with Naruto.
        </strong>
    </p>
</div>

<br>
<br>
<h3 style="text-align: center">And these are my friends!</h3>
<br>
<table align="center" style="text-align: center">
    <tbody>
        <tr>
            <td class="subject">Name</td>
            <td class="value">Muhammad Rizky Anditama</td>
        </tr>
        <tr>
            <td class="subject">Birth date</td>
            <td class="value">17 July 1998</td>
        </tr>
        <tr>
            <td class="subject">Gender</td>
            <td class="value">Male</td>
        </tr>
        <tr>
            <td class="subject">NPM</td>
            <td class="value">1706044080</td>
        </tr>
        <tr>
            <td class="subject">Studying at</td>
            <td class="value">Fakultas Ilmu Komputer, Universitas Indonesia</td>
        </tr>
        <tr>
            <td class="subject">Hobby</td>
            <td class="value">Watching movies</td>
        </tr>
    </tbody>
</table>
<br>
<br>


<img class="avatar" src="https://s33.postimg.cc/3nwvr364v/foto.jpg" alt="me" width="150" height="150">
<br>
<div class="description">
    <p>
        <strong>
            Andi is majoring in Information System.
            Andi and I were assigned to the same group during PMB last year.
            He studied in ITB 2 years ago.
        </strong>
    </p>
</div>
<br>
<br>
<br>
<table align="center" style="text-align: center">
    <tbody>
        <tr>
            <td class="subject">Name</td>
            <td class="value">Greeny</td>
        </tr>
        <tr>
            <td class="subject">Birth date</td>
            <td class="value">Sometime ago</td>
        </tr>
        <tr>
            <td class="subject">Gender</td>
            <td class="value">Not telling</td>
        </tr>
        <tr>
            <td class="subject">NPM</td>
            <td class="value">4815162342</td>
        </tr>
        <tr>
            <td class="subject">Studying at</td>
            <td class="value">Fakultas Ilmu Komputer, Universitas Indonesia</td>
        </tr>
        <tr>
            <td class="subject">Hobby</td>
            <td class="value">being sat on</td>
        </tr>
    </tbody>
</table>
<br>
<br>


<img class="avatar" src="https://s22.postimg.cc/wk43e5igx/8531107149291.jpg" alt="me" width="150" height="150">
<br>
<div class="description">
    <p>
        <strong>
            Greeny is a chair.
            It's a very comfy chair.
            I really love to sit on Greeny.
        </strong>
    </p>
</div>

{% endblock %}
