{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 600px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
    .status {
        font-size: 1.7em;
        font-weight: bolder;
    }
</style>
<div class="center_screen">
    <p class="status" id="test">{{ content }}</p>
</div>
{% endblock %}